<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ConnectAbility</title>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;600&display=swap"
        />
        <link rel="stylesheet" href="/static/styles/base.css" />
    </head>
    <body>
        <div class="main-container">
            <div class="sidebar">
                <ul class="nav-bar">
                    <li class="nav-items">Forum</li>
                    <li class="nav-items">DMs</li>
                    <li class="nav-items">Experiences</li>
                    <li class="nav-items">Profile</li>
                    <li class="nav-items">Help</li>
                </ul>
                <p
                    class="nav-items"
                    style="margin-left: 10px; position: fixed; bottom: 0"
                >
                    Able together
                </p>
            </div>
        </div>
    </body>
</html>
